body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: 96vh;
}

h1 {
    font-size: 3rem;
    color: aqua;
    font-weight: bold;
}

input {
    outline: 0;
    width: 60vw;
    margin: 10px 0;
    height: 80px;
    padding: 5px;
    padding-left: 20px;
    border-style: none;
    border-radius: 5px;
    background: rgba(73, 71, 71, 0.4);
    font-size: 3.5rem;
    color: aqua;
    text-align: center;
    font-family: 'Kameron', serif;
}

::placeholder {
    color: aqua;
    opacity: 0.2;
}

@media(max-width: 500px) {
    body {
        padding-top: 20px;
    }
    h1 {
        font-size: 2rem;
    }
    input {
        width: 90vw;
        font-size: 2rem;
    }
}